Brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
inflate64==1.0.1
lxml==5.3.1
multivolumefile==0.2.3
psutil==7.0.0
py7zr==0.22.0
pybcj==1.0.3
pycryptodomex==3.22.0
pyppmd==1.1.1
pyzstd==0.16.2
requests==2.32.3
smmap==5.0.2
texttable==1.7.0
urllib3==2.3.0
